<h1> All Users </h1>
<%= paginate @users %>

<table border="1">
<tbody>
  <tr>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Email</td>
  <td>Admin?</td>
  </tr>

<% @users.each do |user| %>
  <tr>
  <td><%= user.firstname %></td>
  <td><%= user.lastname %></td>
  <td><%= user.email %></td>
  <td><%= user.admin? %></td>
  </tr>
  <% end %>
  </tbody>
</table>

